<h1>Get data</h1>
<section>
<a href="/updates/auth/getupdates">Get updates here</a>
<div>
  {{# each items}}
  <article>
    <div>name:{{this.name}}</div>
    <div>Content:{{this.startDate}}</div>
  </article>
  {{/each}}
 </div>
</section>
